<h1>Hi cyclists</h1>
<p>
    Welcome to my bike share app. You can list your bikes here if you'd like to rent them out to other people from time to time.
</p>
<p>See the bikes which are currently available for some inspiration <%= link_to 'here', controller: 'postings' %>.</p>