<h1>All bikes we have in stock</h1>

<%= link_to 'Add a new bike', new_posting_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Postcode</th>
    </tr>

    <% @postings.each do |posting| %>
        <tr>
            <td><%= posting.title %></td>
            <td><%= posting.postcode %></td>
        </tr>
        
    <% end %>
</table>
