// Place all the styles related to the postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {	
	margin-left:40px;
}

th {
	font-weight:bold;
}

button {
	border-radius: 3px;
}